# HRMS Apache Configuration
Options -Indexes

<IfModule mod_headers.c>
    <FilesMatch "\.php$">
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Header set Access-Control-Allow-Headers "Content-Type"
    </FilesMatch>
</IfModule>

<IfModule mod_php.c>
    php_flag  display_errors  Off
    php_value error_reporting 0
</IfModule>
